<div class="container">
  <div class="row">
    <!-- uncomment below required to have only one column  -->

    <section class="col-md-12">
      <article>
        <h2 class="header">Who We Are</h2>
        <div class="about">
        <p>The story of our company began in 2006. CrAnimals is people helping animals. We are the kind of people who delight in the company of an animal friend, who are awed by a majestic eagle in flight.
           Like you, we understand that animals enrich our lives. We also know they cannot speak for themselves and need protection. That is why CrAnimals brings together people like you to ensure animals are respected,
           safe and have a voice.
           </p>
           <p>There are a lot of wonders in the world and among them are wildlife species, such as bears, mountain goats, wolves, elk, fox and deer. Most people think that there is an abundance of wildlife species in the world,
              but the truth is, their numbers are dwindling and if nothing is done about it, these species might become endangered and extinct. Animals become endangered all the time and people are not aware about it.
              Thankfully, more and more preservation programs like CrAnimals have been established to ensure that these animals are protected, bred, and well-taken care of. These preservation programs motivate
              and increase the awareness of the public regarding the proper management of natural resources.</p>
              </div>
      </article>
    </section>
    </section>
  </div>
</div>