<div class="container">
  <div class="row">
    <aside class="col-md-3">
      <h2 class="header">Nature Matters</h2>
      <p class="home">Everything in nature is connected. If you remove one animal or plant it upsets the balance of nature, can change the ecosystem completely and may cause other animals to suffer.</p>
    </aside>
    <section class="main col-md-9">
      <article>
      <h2 class="header">Welcome CrAnimals</h2>
      <div class="home">
        <p>We are care about wild animals and our goal to protect them.<p>
            <p>Our vision is a world where animals live free from cruelty and suffering.
              Together we can move the world to protect animals.</p>
            <p>Without you, who do the animals have to speak up for them?</p>
              </div>
            <p class="home">Sign up to volunteer with CrAnimals Protection and move the world for animals through
              educational
              demonstrations, signature gathering, and writing projects like letters to the editor.</p>
      </article>
    </section>
  </div>
</div>