
    <div class="container" >
      <div class="row">
        <section class="main col-md-12">
          <article>
          <h1 id = "big">Oops!</h1> 
          {{!-- <p class = 'text'>Sorry Wrong Page!!</p> --}}
          <div id = "wrong">
          <img src ='../css/images/page404.png'  alt="Fox" width="800" height="444">
          </div>
          </article>
        </section>
      </div>
    </div>

  